

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    font-family: $monseFont;
    color: $letterColor;
}

h1, h2  {
    font-weight: $regular;
    padding: 15px 0;
    margin: 10px;
}
h1 {
    text-shadow:  5px 5px 5px $letterColor;
}

p {
    font-size: $sub2Md;
}
h4 {
    padding: 15px;
    margin: 10px;
    
}
h5 {
    padding: 15px;
    margin: 10px;
    font-size: $subInter;

}