// Seccion casas
@media only screen and (min-width:320px) and (max-width:1054px){
	.container-cardCasas{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
		img{
			object-fit: cover;
		}
        
	}
}
// Seccion terrenos
@media only screen and (min-width:320px) and (max-width:1037px){
	.container-cardTierra{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
		img{
			object-fit: cover;
		}
	}
}
// Seccion departamentos
@media only screen and (min-width:320px) and (max-width:1037px){
	.container-cardDptos{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
		img{
			object-fit: cover;
		}
	}
}