//nesting
.nav-contenedor {
    width: 100%;
    margin: auto;
    padding: 2px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background: rgb(122,138,142);
    background: linear-gradient(90deg, rgba(122,138,142,1) 1%, rgba(149,214,238,1) 100%);
    font-size: $sub2Md;
    .logo   {
        width: 200px;

        
    }
}


