<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jardines de Velez</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
	<!-- css boostrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- SASS-->
	<link rel="stylesheet" href="../sass/style.css">
</head>
<body>
	<header>
		<div class="contenedor">			
			<a href="../index.html">
				<img class="logo" src="img/logosvg.svg" alt="logo jardines de velez barrio cerrado">
			</a>

				<nav>
					<a href="index.html">Inicio</a>
					<a href="views/casas.html">Casas</a>
					<a href="views/departamentos.html">Departamentos</a>
					<a href="../index.html#tu-nombre">Contacto</a>
				</nav>
		</div>

			
		</div>
	</header>
	
	
<footer >
			<p>Av. Velez Sarsfield 9100</p>
			<p>Tel de contacto 0351-153445566</p>
			<p>info@jardinesdevelez.com</p>
		
		<a href="https://www.facebook.com"target="_blank">
				<img src="img/fb.jpg" alt="logo de facebook">
		</a>
		<a href="https://www.instagram.com" target="_blank">
				<img src="img/ig.jpg" alt="logo de instagram">
		</a>

</footer>